//
// @TODO: Add docs to mts-m-regions!
//
@mixin mts-m-regions {
  %_section,
  ._section,
  ._section-content {
    & > :last-child {
      margin-bottom: 0;
    }
  }

  %_section,
  ._section {
    margin-top: $vs;
  }

  %_isles-base {
    @extend %_section;
    background-color: $ui-bg;
  }

  %_island,
  ._island {
    @extend %_isles-base;
    padding: $vs;
  }

  %_islet,
  ._islet {
    @extend %_isles-base;
    padding: $vs*.5;
  }

}
