@function strip-units($number) {
  @if $number == 0 { @return 0 }
  @return $number / ($number * 0 + 1);
}

@function em($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 };
   @return $target / $context + 0em;
}

@function px($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 };
   $target: strip-units($target);
   @return $target * $context + 0px;
}

@mixin rem($size, $property: 'font-size') {
  $size: strip-units($size);
  $base-size: strip-units($base-font-size);
  #{$property}: 0px + $size;
  #{$property}: $size / $base-size +rem;
}
