/**
 * Roadmap JIRA Connect Add-on
 * 
 * Author: Anton Maslo
 * Created: 2015-06-17
 */

.aui-page-header-image,
.aui-avatar-project,
.aui-avatar-project:before {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.aui-page-header-image .aui-avatar-inner {
	margin-top: 1px;
	background: transparent url(../images/roadmap_logo.png) top left no-repeat;
	background-size: 48px 48px;
}

#config-loading-display {
    display: none;
}

.loading #config-loading-display {
    display: block;
}

.loading #addon-tabs,
.network-error #addon-tabs {
    display: none;
}

#addon-version {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #707070;
}

#addon-config input.text,
#addon-config select {
    max-width: 300px;
}

#addon-config .field-group>label {
    margin-left: -215px;
    width: 200px;
}

#addon-config .buttons-container {
    margin: 20px 0 30px;
}

.icon-inline-help {
    cursor: pointer;
}

#update-config .aui-icon {
	margin-right: 5px;
}

.buttons-container .buttons .aui-lozenge {
    margin-left: 10px;
}

#start-date-config-reminder,
#start-date-auto-select {
    display: none;
    margin-left: 7px;
}

.tabs-pane {
    padding: 20px 0;
}

#integrated-projects td .aui-icon {
    margin-right: 5px;
}

#integrated-projects .integrated {
    color: #14892c;
}

#integrated-projects .not-integrated {
    color: #d04437;
}