/**
 * Roadmap JIRA Connect Add-on - Timer styles
 * 
 * Author: Anton Maslo
 * Created: 2015-07-02
 */

body {
    background: transparent;
}

/* Issue display stages */

.loading-display,
.integration-absent-display,
.config-display,
#rm-todo-form,
#timer {
    display: none;
}

.loading .loading-display,
.config .config-display,
.integration-absent .integration-absent-display,
.loaded #rm-todo-form,
.loaded #timer {
    display: block;
}

.integration-absent-display .aui-icon {
    color: #815b3a
}

/* Config styles */

#rm-addon-actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

#rm-addon-actions a {
    opacity: 0.4;
    transition: opacity 150ms;
}

#rm-addon-actions a:hover {
    opacity: 1;
}


/* RM Todo Data styles */

#rm-todo-form {
    margin-top: 0;
}

#rm-todo-link {
    display: inline-block;
    margin-bottom: 10px;
}

form.aui .field-group.column {
    display: inline-block;
    width: 150px;
    margin-right: 25px;
}

form.aui .field-group.column input {
    max-width: 120px;
}

#rm-assignments {
    display: none;
    margin-top: 20px;
}

#rm-assignments ul {
    list-style: none;
    padding: 0;
}

#rm-assignments li {
    position: relative;
    display: inline-block;
    margin: 1px 25px 12px 0;
    padding-left: 30px;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
    line-height: 15px;
    box-sizing: border-box;
}

#rm-assignments .user-icon {
    position: absolute;
    top: 1px;
    left: 0;
}

#rm-assignments .util-chart {
    width: 120px;
    height: 7px;
    margin-top: 3px;
    overflow: hidden;
    background-color: #eaeaea;
    border-radius: 3px;
}

#rm-assignments .util-chart > span {
    display: inline-block;
    height: 12px;
}



/* Timer styles */
#timer {
    margin-top: 20px;
}

#timer > div {
    display: none;
}

#timer.timer-stopped > .stopped-controls {
    display: block;
}

#timer.timer-running > .running-controls {
    display: block;
}

#timer.timer-running-another > .running-another-controls {
    display: block;
}

#timer.timer-log > .log-controls {
    display: block;
}

#timer .running-controls .timer-duration {
    margin-right: 12px;
}

#timer .action-buttons {
    white-space: nowrap;
    vertical-align: text-bottom;
}

#timer #stop-timer {
    margin-left: 0;
}

#timer #cancel-timer {
    margin-left: 3px;
}

.running-another-controls .aui-iconfont-error {
    color: #594300;
}

#timer-description {
    width: 297px;
}