//
// @TODO: Add docs to nav!
//
@mixin mts-nav {
  ._nav {
    @extend %u-reset_list;
    @extend %u-vacuum;

    .lt-ie8 & {
      display: inline;
      zoom: 1;
    }

    &,
    > li {
      vertical-align: top;
    }

    > li {
      display: inline-block;


      .lt-ie8 & {
        display: inline;
        zoom: 1;
      }
    }

    a {
      display: block;
      font-size: $base-font-size;
      text-decoration: none;
    }
  }

  nav > strong { display: none; }
}


//
// @TODO: Add docs to mts-nav-stack!
//
@mixin mts-nav-stack {
  ._nav.-stack {
    > li {
      width: 100%;

      &,
      > a {
        display: block;
      }
    }
  }
}

//
// @TODO: Add docs to _mts-nav-justify!
//
@mixin _mts-nav-justify {
  width: 100%;
  text-align: justify;

  &,
  &:after,
  li {
    display: inline-block;
  }

  &:after {
    content: '';
    width: 100%;
  }

  li {
    text-align: left;
    vertical-align: top;
  }
}


//
// @TODO: Add docs to mts-nav-justify!
//
@mixin mts-nav-justify($usage) {
  @if $usage == include {
    @include _mts-nav-justify;
  }

  @if $usage == extend {
    %nav-justified {
      @include _mts-nav-justify;
    }
  }
}
