@function nth-child($n) {
  // If a single number for nth.
  @if type-of($n) == number {
    $nth-child: first-child;
    @for $i from 2 through $n {
      $nth-child: append($nth-child, #{"+*"});
    }
    @return #{":"}$nth-child;
  }

  // If a nth-child string, need to parse the string.
  @else {
    $n: nth(children-of-ie-nth($n), 1);
    $nth-child: first-child;
    @for $i from 2 through $n {
      $nth-child: append($nth-child, #{"~*"});
    }
    @return #{":"}$nth-child;
  }
}


%u-pos-a {
  position: absolute;
}

%u-pos-r {
  position: relative;
}

%u-pos-os {
  @extend %u-pos-a;
  left: -99999px;
}


%z-image {
  z-index: $z-image;
}

%z-base {
  z-index: $z-base;
}

%z-content {
  z-index: $z-content;
}

%z-nav {
  z-index: $z-nav;
}

%z-modal {
  z-index: $z-modal;
}


%u-d-b {
  display: block;
}

%u-d-ib {
  display: inline-block;
}

%u-d-n {
  display: none;
}


%u-visV {
  visibility: visible;
}

%u-visH {
  visibility: hidden;
}


%u-ov-h {
  overflow: hidden;
}

%u-ov-v {
  overflow: visible;
}

%u-mw-100 {
  max-width: 100%;
  height: auto;
}


%u-reset {
  margin: 0;
  padding: 0;
}

%u-reset_list {
  @extend %u-reset;
  list-style: none;
}

%u-m-0 {
  margin: 0;
}

%u-p-0 {
  padding: 0;
}


%u-tt-u {
  text-transform: uppercase;
}

//
// @TODO: Add docs to u-vacuum!
// removes text size from parent element
//
%u-vacuum {
  font-size: 0px;
  line-height: 1;
}

//
// @TODO: Add docs to u-extend_bg!
//
@mixin u-extend_bg {
  padding-bottom: 99999em;
  margin-bottom: -99999em;
}

%u-extend_bg {
  @include u-extend_bg;
}


%disable-hover {
  pointer-events: none;
}

%u-pullLeft {
  display: inline;
  float: left;
}

%u-pullRight {
  display: inline;
  float: right;
}

%u-h {
  display: none !important;
  visibility: hidden;
}

//
// @TODO: Add docs to visuallyhidden!
//
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.-focus {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

%u-vh {
  @include visuallyhidden;
}

.visuallyhidden {
  @extend %u-vh;
}

%u-ht {
  @include hide-text;
}

%u-cf {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %u-cf;
}
