<footer class="bg-white-l p2 flex">

  <div class="flex-grow"></div>
  <div class="width-1225">
    <img class="height-5 display-none sm-show py2"src="{{ site.baseurl }}/images/roadmap-icon.svg" />
  </div>

    <div class="flex justify-between flex-basis-40 line-height-4 flex-column sm-flex-row flex-none">
      <div class="py2 h3 sm-h5">
        <a class="block" href="{{ site.baseurl }}/learn-more" title="Learn More About What Roadmap Offers">Learn More</a>
        <a class="block" href="{{ site.baseurl }}/coming-soon" title="Roadmap 2.0 beta">Coming Soon</a>
        <a class="block" href="{{ site.baseurl }}/pricing" title="See Roadmap's High-value Pricing Plans">Pricing</a>
        <a class="block" href="{{ site.baseurl }}/services" title="Accelerate your Time-to-value with Travel Lane Solutions">Services</a>
        <a class="block" href="{{ site.baseurl }}/news" title="Roadmap News and Updates">News</a>
        <a class="block" href="https://app.ppmroadmap.com/secure/Login.aspx" title="Sign In to your Roadmap Account">Sign In</a>
      </div>

      <div class="py2 h3 sm-h5">
        <span class="purple sc fw2">SUPPORT</span>
        <a class="block" href="#">Feature List</a>
        <a class="block" href="#">FAQ</a>
        <a class="block" href="#">Help Wiki</a>
      </div>

      <div class="py2 h3 sm-h5">
        <span class="purple sc fw2">SOCIAL</span>
        <a class="block" href="#">Contact</a>
        <a class="block" href="#">Twitter</a>
        <a class="block" href="#">Facebook</a>
        <a class="block" href="#">Crunchbase</a>
      </div>

      <div class="py2 h3 sm-h5">
        <span class="purple sc fw2">COMPANY</span>
        <a class="block" href="#">Team</a>
        <a class="block" href="#">Terms of Service</a>
        <a class="block" href="#">Privacy Policy</a>
        <a class="block" href="#">Investor Info</a>
      </div>
    </div>

    <div class="width-1225"></div>
    <div class="flex-grow"></div>

  </div>

</footer><!-- /.site-footer -->
