<footer class="bg-white-l p4">

  <div class="mx-auto container relative flex-auto p2">

    <img class="absolute left-0 height-5"src="{{ site.baseurl }}/images/roadmap-icon.svg" />

    <div class="mx-auto flex justify-between measure-plus line-height-4">
      <div>
        <a class="small-print block " href="#">Learn More</a>
        <a class="small-print block " href="#">Success Stories</a>
        <a class="small-print block " href="#">Pricing</a>
        <a class="small-print block " href="#">Coming Soon</a>
        <a class="small-print block " href="#">News</a>
        <a class="small-print block border" href="#">Sign In</a>
      </div>

      <div>
        <span class="purple sc fw2">SUPPORT</span>
        <a class="small-print block" href="#">Feature List</a>
        <a class="small-print block" href="#">FAQ</a>
        <a class="small-print block" href="#">Help Wiki</a>
      </div>

      <div>
        <span class="purple sc fw2">SOCIAL</span>
        <a class="small-print block" href="#">Contact</a>
        <a class="small-print block" href="#">Twitter</a>
        <a class="small-print block" href="#">Facebook</a>
        <a class="small-print block" href="#">Crunchbase</a>
      </div>

      <div>
        <span class="purple sc fw2">COMPANY</span>
        <a class="small-print block" href="#">Team</a>
        <a class="small-print block" href="#">Terms of Service</a>
        <a class="small-print block" href="#">Privacy Policy</a>
        <a class="small-print block" href="#">Investor Info</a>
      </div>
    </div>

  </div>

</footer><!-- /.site-footer -->
