<footer class="bg-white-l p2 flex">

  <div class="flex-grow"></div>
  <div class="width-1225">
    <img class="height-5 display-none md-show py2 pr2"src="{{ site.baseurl }}/images/roadmap-icon.svg" />
  </div>

    <div class="sm-flex justify-between flex-basis-40 line-height-4 flex-column sm-flex-row flex-none">
      <div class="py2 h3 sm-h5">
        <a class="block hover-gray-l" href="{{ site.baseurl }}/learn-more" title="Learn More About What Roadmap Offers">Learn More</a>
        <a class="block hover-gray-l" href="{{ site.baseurl }}/pricing" title="See Roadmap's High-value Pricing Plans">Pricing</a>
        <a class="block hover-gray-l" href="{{ site.baseurl }}/services" title="Accelerate your Time-to-value with Travel Lane Solutions">Services</a>
        <a class="block hover-gray-l" href="{{ site.baseurl }}/news" title="Roadmap News and Updates">News</a>
      </div>

      <div class="py2 h3 sm-h5">
        <span class="purple sc fw2">SUPPORT</span>
        <a class="block hover-gray-l" href="https://ppmroadmap.uservoice.com/">Knowledge Base</a>
        <a class="block hover-gray-l" href="{{ site.baseurl }}/contact">Contact</a>
      </div>

      <div class="py2 h3 sm-h5">
        <span class="purple sc fw2">SOCIAL</span>
        <a class="block hover-gray-l" href="https://twitter.com/ppmroadmap">Twitter</a>
      </div>

      <div class="py2 h3 sm-h5">
        <span class="purple sc fw2">COMPANY</span>
        <a class="block hover-gray-l" href="{{ site.baseurl }}/terms-of-service">Terms of Service</a>
        <a class="block hover-gray-l" href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a>
      </div>
    </div>

    <div class="width-1225"></div>
    <div class="flex-grow"></div>

  </div>

</footer><!-- /.site-footer -->
