{% assign current = page.url | downcase | split: '/' %}

<nav id="nav-items" class="md-col-right gray-l mt2 sm-mt0 border-top border-white-d display-none sm-show sm-border-none h2 sm-h4">
  <a class="py2 pr1 sm-pl1 sm-mr2 sm-ml2 block sm-inline-block hover-cyan {% if current[1] == 'learn-more' %}border-right-thick sm-border-bottom-thick cyan{% endif %}" href="{{ site.baseurl }}/learn-more" title="Learn More About What Roadmap Offers">Learn More</a>
  <a class="py2 pr1 sm-pl1 sm-mr2 sm-ml2 block sm-inline-block hover-cyan {% if current[1] == 'pricing' %}border-right-thick sm-border-bottom-thick cyan{% endif %}" href="{{ site.baseurl }}/pricing" title="See Roadmap's High-value Pricing Plans">Pricing</a>
  <a class="py2 pr1 sm-pl1 sm-mr2 sm-ml2 block sm-inline-block hover-cyan {% if current[1] == 'services' %}border-right-thick sm-border-bottom-thick cyan{% endif %}" href="{{ site.baseurl }}/services" title="Accelerate your Time-to-value with Travel Lane Solutions">Services</a>
  <a class="py2 pr1 sm-pl1 sm-mr2 sm-ml2 block sm-inline-block hover-cyan {% if current[1] == 'news' %}border-right-thick sm-border-bottom-thick cyan{% endif %}" href="{{ site.baseurl }}/news" title="Roadmap News and Updates">News</a>
  <a class="px3 py05 sm-mx2 my2 block sm-inline-block border purple hover-white hover-bg-purple" href="https://app.ppmroadmap.com/secure/Login.aspx" title="Sign In to your Roadmap Account">Sign In</a>
</nav>
