//
// @TODO: Add docs to mts-pagination!
// requires _nav
//
@mixin mts-m-paging {
  ._paging {
    @extend %u-ov-h;
  }

  ._paging-prev,
  ._paging-next {
    width: 48%;
  }

  ._paging-prev {
    float: left;
  }

  ._paging-next {
    float: right;
    text-align: right;
  }
}
