// Colors //
$cyan: #51a9d1;
$cyan-light: #87cded;
$cyan-dark: #2984ad;

$purple: #380da9;
$purple-light: #5e34e3;
$purple-dark: #220768;

$pink: #f31065;
$pink-light: #f95391;
$pink-dark: #b20a49;

$white: #f5f5f5;
$white-light: #fff;
$white-dark: #cecece;

$gray: #686868;
$gray-light: #979797;
$gray-dark: #363636;


// Typography //
$font-stack: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$base-text-size: 16px;
