// text color //
.cyan { color: $cyan; }
.cyan-l { color: $cyan-light; }
.cyan-d { color: $cyan-dark; }
.purple { color: $purple; }
.purple-l { color: $purple-light; }
.purple-d { color: $purple-dark; }
.pink { color: $pink; }
.pink-l { color: $pink-light; }
.pink-d { color: $pink-dark; }
.white { color: $white; }
.white-l { color: $white-light; }
.white-d { color: $white-dark; }
.gray { color: $gray; }
.gray-l { color: $gray-light; }
.gray-d { color: $gray-dark; }

// background color //
.bg-cyan { background-color: $cyan; }
.bg-cyan-l { background-color: $cyan-light; }
.bg-cyan-d { background-color: $cyan-dark; }
.bg-purple { background-color: $purple; }
.bg-purple-l { background-color: $purple-light; }
.bg-purple-d { background-color: $purple-dark; }
.bg-pink { background-color: $pink; }
.bg-pink-l { background-color: $pink-light; }
.bg-pink-d { background-color: $pink-dark; }
.bg-white { background-color: $white; }
.bg-white-l { background-color: $white-light; }
.bg-white-d { background-color: $white-dark; }
.bg-gray { background-color: $gray; }
.bg-gray-l { background-color: $gray-light; }
.bg-gray-d { background-color: $gray-dark; }

// text color on hover //
.hover-cyan:hover { color: $cyan; }
.hover-cyan-l:hover { color: $cyan-light; }
.hover-cyan-d:hover { color: $cyan-dark; }
.hover-purple:hover { color: $purple; }
.hover-purple-l:hover { color: $purple-light; }
.hover-purple-d:hover { color: $purple-dark; }
.hover-pink:hover { color: $pink; }
.hover-pink-l:hover { color: $pink-light; }
.hover-pink-d:hover { color: $pink-dark; }
.hover-white:hover { color: $white; }
.hover-white-l:hover { color: $white-light; }
.hover-white-d:hover { color: $white-dark; }
.hover-gray:hover { color: $gray; }
.hover-gray-l:hover { color: $gray-light; }
.hover-gray-d:hover { color: $gray-dark; }

// background color on hover //
.hover-bg-cyan:hover { background-color: $cyan; }
.hover-bg-cyan-l:hover { background-color: $cyan-light; }
.hover-bg-cyan-d:hover { background-color: $cyan-dark; }
.hover-bg-purple:hover { background-color: $purple; }
.hover-bg-purple-l:hover { background-color: $purple-light; }
.hover-bg-purple-d:hover { background-color: $purple-dark; }
.hover-bg-pink:hover { background-color: $pink; }
.hover-bg-pink-l:hover { background-color: $pink-light; }
.hover-bg-pink-d:hover { background-color: $pink-dark; }
.hover-bg-white:hover { background-color: $white; }
.hover-bg-white-l:hover { background-color: $white-light; }
.hover-bg-white-d:hover { background-color: $white-dark; }
.hover-bg-gray:hover { background-color: $gray; }
.hover-bg-gray-l:hover { background-color: $gray-light; }
.hover-bg-gray-d:hover { background-color: $gray-dark; }
