// Palette function,
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}




$contrasted-dark-default: black !default;
$contrasted-light-default: white !default;

// output classes for each color
@mixin print-palettes($map){
  @each $palette, $tones in $map {
    @if type-of($tones) == 'map' {
      @each $tone, $value in $tones {
        .pt-c-#{inspect($palette)}-#{inspect($tone)} {
          color: $value;
        }

        .pt-bg-#{inspect($palette)}-#{inspect($tone)} {
          color: contrast-color($value);
          background-color: $value;
        }
      }
    }
  }
}

