---
layout: blank
title: Resource planning and Project Forecasting for Basecamp
---

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
  {% include _head.html %}
  </head>

  <body class="st _lo-home">
    {% include _gtm.html %}





    <header class="st-m -has-ho -int">

      <div class="mh-bn">
        <div class="_ct">
          <div class="_br mh-br">
            <a class="_br-lk ir" href="{{ site.baseurl }}/" title="Roadmap - Intelligent Project Management, Scheduling, Time Tracking, and Resource Planning">
              Roadmap <strong class="_vh">Intelligent Project Management, Scheduling, Time Tracking, and Resource Planning</strong>
            </a>
          </div> <!-- /._br mh-br -->





          {% include _mh-nav.html %}
        </div><!-- /._ct -->
      </div><!-- /.mh-bn -->





      <div class="_ho mh-ho -int">
        <div class="_ct">
          <div class="mh-ho-att -int">
            <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
              <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                <div class="wistia_embed wistia_async_ily9q5l3pl videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
              </div>
            </div>


          </div>
        </div>
      </div><!-- /._ho mh-ho -->
    </header><!-- /.site-masthead -->





    <div class="st-wp">
      <main class="st-c">
        <div class="fl">

          <article class="h-entry fe">
            <div class="_ct">
              <header class="fe-hdr">
                <h2 class="fe-hd p-name">Visualize</h2>
                <p class="p-summary">See the big picture, or how your team can &ldquo;get to Friday.&rdquo; Roadmap gives you that flexibility, and the details.</p>
              </header>



              <aside class="e-content fe-cp pl">
                <article class="h-entry pt--ho">
                  <div class="_md-att">
                    <img class="_md-src" src="/images/integrations-github-dashboards.png" alt="View the people working on your Basecamp To Dos in an easy to use Dashboard">

                  </div>
                  <div class="_md-ct">
                    <h3 class="p-name _md-hd">Custom Dashboards</h3>
                    <p class="p-summary _md-tx">
                    Use dashboards to view availability for resources or roles, track project progress, and stay on top of what’s due next. Share these big-picture insights with anyone.
                    </p>
                  </div>
                </article>


                <article class="h-entry pt">
                  <div class="_md-att">
                    <img class="_md-src" src="/images/integrations-github-views.png" alt="Sort, Filter, and create pivot tables for your projects and To Dos.">
                  </div>
                  <div class="_md-ct">
                    <h3 class="p-name _md-hd">Cross-portfolio reporting</h3>
                    <p class="p-summary _md-tx">Use your Basecamp labels and Roadmap&rsquo;s custom fields to sort, filter, and create pivot tables of your Basecamp To Dos, across repositories.</p>
                  </div>
                </article>


                <blockquote class="_bq pt--bq">
                  <p class="_bq-ct _bq-tx">Every time I meet with senior management, I bring only one handout &mdash; the Roadmap Gantt chart.</p><!-- /._bq-ct _bq-tx -->
                  <footer class="_bq-ft"><cite class="_bq-ci">Regina Flanagan, Benefit Cosmetics</cite></footer><!-- /._bq-ft -->
                </blockquote><!-- /._bq pq -->
              </aside><!-- /.e-content fe-pl -->
              <footer class="fe-ft _co"><a href="https://app.ppmroadmap.com/AccountRegistration.aspx?utm_source=Marketing+Website&amp;utm_medium=features&amp;utm_campaign=visualize" class="_co-lk lk--su">Ready to get a better view of your projects? Sign up now.</a></footer>
            </div><!-- /._ct -->
          </article> <!-- /.fe -->





          <article class="h-entry fe fe--alt">
            <div class="_ct">
              <header class="fe-hdr">
                <h2 class="fe-hd p-name">Forecast</h2>
                <p class="p-summary">Resource planning and project timelines are a snap with Roadmap. Save your projects before they start to slip. Roadmap makes you the hero.</p>
              </header>


              <aside class="e-content fe-cp pl">
                <article class="h-entry pt--ho">
                  <div class="_md-att">
                    <img class="_md-src" src="/images/integrations-github-developers.png" alt="Find the Best Developer">
                  </div>
                  <div class="_md-ct">
                    <h3 class="p-name _md-hd">Find your heroes</h3>
                    <p class="p-summary _md-tx">Have a critical release next week at risk of slipping? Roadmap makes it simple to find the developer with the right skills, location, and availability to save the day.</p>
                  </div>
                </article>


                <article class="h-entry pt">
                  <div class="_md-att">
                    <img class="_md-src" src="/images/integrations-github-heatmap.png" alt="View Utilization Heat Maps of Resources and Roles.">
                  </div>
                  <div class="_md-ct">
                    <h3 class="p-name _md-hd">Utilization Heatmaps</h3>
                    <p class="p-summary _md-tx">Resource and role utilization reports show you capacity risks before they become execution risks.</p>
                  </div>
                </article>


                <blockquote class="_bq pt--bq">
                  <p class="_bq-ct _bq-tx">Fills a much needed gap for managers who need resource and portfolio management.</p><!-- /._bq-ct _bq-tx -->
                  <footer class="_bq-ft"><cite class="_bq-ci">Steven Whitney, Manager of Client Services, Awana</cite></footer><!-- /._bq-ft -->
                </blockquote><!-- /._bq pq -->
              </aside><!-- /.e-content fe-pl -->

            </div><!-- /._ct -->
          </article> <!-- /.fe -->





          <article class="h-entry fe">
            <div class="_ct">
              <header class="fe-hdr">
                <h2 class="fe-hd p-name">Align</h2>
                <p class="p-summary">Keep stakeholders, project leaders, and project contributors on the same project plan, without disrupting their daily workflows. Roadmap’s integrations into existing systems makes it easy to keep everyone on task.</p>
              </header>


              <aside class="e-content fe-cp pl">
                <article class="h-entry pt--ho">
                  <div class="_md-att">
                    <img class="_md-src" src="/images/views/roadmap-view-align-extension.png" alt="Use our Extensions to continue to work in Basecamp.">
                  </div>
                  <div class="_md-ct">
                    <h3 class="p-name _md-hd">Seamless and efficient</h3>
                    <p class="p-summary _md-tx">
                      Roadmap's browser extension creates a seamless experience for developers. Efficiently manage dates, estimates, and track time from within Basecamp. Forecasting and tracking time is hard enough without having to toggle between apps!
                    </p>
                  </div>
                </article>


                        <article class="h-entry pt">
                          <div class="_md-att">
                            <span class="_md-src" data-picture data-alt="Pick the right team member for the job">
                              <span data-src="/images/views/forecast-resources-tall.png"></span>
                              <span data-src="/images/views/forecast-resources-tall@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></span>
                              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                              <noscript>
                                <img src="/images/views/forecast-resources-tall.png" alt="Pick the right team member for the job"></noscript>
                            </span>
                          </div>
                          <div class="_md-ct">
                            <h3 class="p-name _md-hd">Resource Attributes</h3>
                            <p class="p-summary _md-tx">Need to find resource who knows iOS, works in the New York office, and is at least 50% available next week?  Use Custom resource attributes and be a staffing wizard!</p>
                          </div>
                        </article>


                <blockquote class="_bq pt--bq">
                  <p class="_bq-ct _bq-tx">Roadmap has blown me away with its comprehensive approach to project/portfolio management</p><!-- /._bq-ct _bq-tx -->
                  <footer class="_bq-ft"><cite class="_bq-ci">Sloan Miller, Director, Project Management, The Archer Group</cite></footer><!-- /._bq-ft -->
                </blockquote><!-- /._bq pq -->
              </aside><!-- /.e-content fe-pl -->
              <footer class="fe-ft _co"><a href="https://app.ppmroadmap.com/AccountRegistration.aspx?utm_source=Marketing+Website&amp;utm_medium=features&amp;utm_campaign=visualize" class="_co-lk lk--su">Ready to get a better view of your projects? Sign up now.</a></footer>
            </div><!-- /._ct -->
          </article> <!-- /.fe -->
        </div> <!-- /.fl -->
      </main> <!-- /.st-c -->
    </div> <!-- /.st-wp -->





    {% include _st-ft.html %}
  </body>
</html>
