//
// @TODO: Add docs to mts-sticky_footer!
//
@mixin mts-sticky_footer(
  $height: 180px ,
  $spacing: 48px,
  $viewport: ".site" ,
  $container: ".site-wrapper" ,
  $content: ".site-page" ,
  $footer: ".site-footer"
) {

  html {
      height: 100%;
  }

  #{$viewport} {
    height: 100%;

    & > #{$container} {
        min-height: 100%;
        overflow: hidden;
    }

    #{$content} {
        overflow: visible;
        padding-bottom: $height+$spacing;
    }

    #{$footer} {
        position: relative;
        height: $height;
        margin-top: $height * -1;
    }

  }
}
