//
// @TODO: Add docs to mts-m-grid!
//
@mixin mts-m-grid {
  ._grid {
    @extend %u-ta-j;
    @extend %u-vacuum;

    &:after {
      @extend %u-d-ib;
      content: '';
      width: 100%;
    }

    > * {
      @extend %u-d-ib;
      font-size: $fs;
      text-align: left;
    }
  }

  ._grid-ph {
    padding: 0;
    margin: 0;
    border: none;
  }
}
