//
// @TODO: Add docs to mts-m-buttons!
//
@mixin mts-m-buttons {
  ._button {
    @extend %u-d-ib;
    padding: $vs/4;
    line-height: 1;
    text-decoration: none;
    background-color: $ui-bg;
  }

  ._button--outline {
    border-color: $ui-bg;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
  }
}
