//
// @TODO: Add docs to list!
//
@mixin mts-list {
  // Standard List
  ._list {

  }

  ._list-items,
  ._list-item {
    @extend %u-reset_list;
  }
}


//
// @TODO: Add docs to mts-list-grid!
//
@mixin mts-list-grid {
  ._list.-grid {

    ._list-items {
      text-align: justify;
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }

    ._list-item,
    ._list-ph {
      display: inline-block;
      text-align: left;
      vertical-align: top;

      .lt-ie9 & {
        display: inline;
      }
    }
  }
}


//
// @TODO: Add docs to mts-list-block!
//
@mixin mts-list-block {
  ._list.-block {
    &,
    > li{
        border:0 solid $base-ui-color;
    }
  }

  ._list.-block {
    > li{
      border-bottom-width:1px;
      padding: $line-height/2;
    }

    a {
      display:block;
      padding: $line-height/2;
      margin:$line-height/-2;
    }
  }
}
