<footer class="ft st-ft">
  <div class="_ct">
    <div class="ft-lg">
      <p class="lg-cr">&copy; Copyright 2014 PPMLite, LLC. All rights reserved.</p>
      <nav class="_nv nv-lg"> <strong class="_nv-hd">Legal Navigation</strong>
        <ul class="_nav">
          <li>
            <a href="/terms-of-service">Terms of Service</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>


    <nav class="_nv ft-ut"> <strong class="_nv-hd">Site Navigation</strong>
      <ul class="_nav">
        {% comment %}
        <li>
          <a href="/news" title="Roadmap News">News</a>
        </li>
        {% endcomment %}
        {% include _ut-nav-items.html %}
      </ul>
    </nav>
  </div><!-- /._ct -->
</footer><!-- /.site-footer -->
