<footer class="ft st-ft">
  <div class="_ct">
    <div class="ft-lg">
      <p class="lg-cr">&copy; Copyright 2014 PPMLite, LLC. All rights reserved.</p>
      <nav class="_nv nv-lg"> <strong class="_nv-hd">Legal Navigation</strong>
        <ul class="_nav">
          <li>
            <a href="#">Terms of Service</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>


    <nav class="_nv ft-ut"> <strong class="_nv-hd">Site Navigation</strong>
      <ul class="_nav">
        <li>
          <a href="news.html" title="Roadmap News">News</a>
        </li>
        <li class="">
          <a href="pricing.html" title="See Roadmap's High-value Pricing Plans">Pricing Plans</a>
        </li>
        <li>
          <a href="signup.html" title="Free 30 day Trial">30-day Trial</a>
        </li>
        <li class="_nav-alt">
          <a href="https://app.ppmroadmap.com" title="Sign In to your Roadmap Account">Sign In</a>
        </li>
      </ul>
    </nav>
  </div><!-- /._ct -->
</footer><!-- /.site-footer -->
