<header class="st-m">
  <div class="mh-bn">
    <div class="_ct">
      <div class="_br mh-br">
        <a class="_br-lk ir" href="/" title="Roadmap - Intelligent Project Management, Scheduling, Time Tracking, and Resource Planning">
          Roadmap <strong class="_vh">Intelligent Project Management, Scheduling, Time Tracking, and Resource Planning</strong>
        </a>
      </div>
      <!-- /._br mh-br -->





      <nav class="_nv mh-ut"> <strong class="_nv-hd">Site Navigation</strong>
        <ul class="_nav">
          <li class="" id="mh-ut-ft">
            <a href="//www.ppmroadmap.com/plans-pricing" title="See Roadmap's High-value Pricing Plans">Pricing Plans</a>
          </li>
          <li class="" id="mh-ut-pr">
            <a href="https://app.ppmroadmap.com/AccountRegistration.aspx" title="Free 30 day Trial">30-day Trial</a>
          </li>
          <li class="_nav-alt" id="mh-ut-si">
            <a href="https://app.ppmroadmap.com/secure/Login.aspx" title="Sign In to your Roadmap Account">Sign In</a>
          </li>
        </ul>
      </nav>
    </div><!-- /._ct -->
  </div><!-- /.mh-bn -->





  <div class="_ho mh-ho">
    <div class="_ho-tx">
      <div class="_ct">
        <h2 class="_ho-hd">Your Roadmap to successful projects</h2>
        <div class="_ho-cp">
          <p>See your project through it's twists and turns to success. Visualize, align, forecast and manage one project or an entire campaign, all integrated with Basecamp.</p>
        </div>
        <div class="_co _ho-co">
          <a class="_co-lk" href="#">Plan more successful projects now.</a>
        </div><!-- /._ho-co -->
      </div><!-- /._ct -->
    </div><!-- /._ho-tx -->
    <div class="_ho-att">
      <picture class="_ho-src">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source class="_ho-src" srcset="images/hero-gantt.jpg, images/hero-gantt@2x.jpg 2x" media="(min-width: 47em)">
        <!--[if IE 9]></video><![endif]-->
        <img class="_ho-src" srcset="images/hero-gantt-mobile.jpg, images/hero-gantt-mobile@2x.jpg 2x" alt="Visualize your projects as gantt charts">
      </picture>
    </div>
  </div><!-- /._ho mh-ho -->


  <div class="nw mh-nw">
    <div class="_ct">
    <div class="nw-wr">
      <ul class="_ls-ui nw-ct">
      {% include post-list.html limit="1" %}
    </ul>
    <div class="_co nw-co"><a href="#" title="Read More News" class="_co-lk lk--mr">More News</a></div><!-- /._co nw-co -->
    </div><!-- /.nw-wr -->
    </div> <!-- /._ct -->
  </div><!-- /.nw nw-qk -->
