{% assign periodicalArray = site.periodicals %}
{% for post in site.posts %}
  {% assign periodicalArray = periodicalArray | push: post %}
{% endfor %}

{% for blog in site.blog %}
  {% assign periodicalArray = periodicalArray | push: blog %}
{% endfor %}

{% assign sorted = periodicalArray | sort: "date" | reverse %}

{% for post in sorted limit:include.limit %}
  <li class="h-entry nw-entry">
    <a href="{{ post.url }}" title="{{ post.title }}" class="u-url">
      <h3 class="p-name">
        {{ post.title }}
      </h3>
      <time class="dt-published" datetime="{{ post.date | date_to_rfc822 }}">
        {{ post.date | date: "%b %-d, %Y" }}
      </time>
    </a>
  </li>
{% endfor %}
