<div class="fl">

  <article class="h-entry fe fe--alt">
    <div class="_ct">
      <header class="fe-hdr">
        <h2 class="fe-hd p-name">Visualize</h2>
        <p class="p-summary">See the big picture, or how your team can &ldquo;get to Friday.&rdquo; Roadmap gives you that flexibility, and the details.</p>
      </header>



      <aside class="e-content fe-cp pl">
        <article class="h-entry pt--ho">
          <div class="_md-att">
            <span class="_md-src" data-picture data-alt="View your tasks using Roadmap&rsquo;s highly customizeable grid.">
              <span data-src="/images/views/visualize-grid-tall@2x.png"></span>
              <span data-src="/images/views/visualize-grid-tall@4x.png" data-media="(min-device-pixel-ratio: 2.0)"></span>
              <span data-src="/images/views/visualize-grid-wide.png" data-media="(min-width: 47em)"></span>
              <span data-src="/images/views/visualize-grid-wide@2x.png" data-media="(min-width: 47em) and (min-device-pixel-ratio: 2.0)"></span>
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript>
                <img src="/images/views/visualize-grid-tall.png" alt="View your tasks using Roadmap&rsquo;s highly customizeable grid."></noscript>
            </span>
          </div>
          <div class="_md-ct">
            <h3 class="p-name _md-hd">Your tasks, the way you like them</h3>
            <p class="p-summary _md-tx">
            View tasks across your portfolio of projects. Get granular with on-the-fly pivot tables, broken down by project, resources, and due dates.
            </p>
          </div>
        </article>


        <article class="h-entry pt">
          <div class="_md-att">
            <span class="_md-src" data-picture data-alt="Roadmap’s Dashboards provide shareable insights into your projects and resources.">
              <span data-src="/images/views/visualize-dashboard-tall.png"></span>
              <span data-src="/images/views/visualize-dashboard-tall@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></span>
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript>
                <img src="/images/views/visualize-dashboard-tall.png" alt="Roadmap’s Dashboards provide shareable insights into your projects and resources."></noscript>
            </span>
          </div>
          <div class="_md-ct">
            <h3 class="p-name _md-hd">Dashboards</h3>
            <p class="p-summary _md-tx">Create up-to-date snapshots of your projects and people, shared with colleagues or customers.</p>
          </div>
        </article>


        <blockquote class="_bq pt--bq">
          <p class="_bq-ct _bq-tx">&ldquo;Every time I meet with senior management, I bring only one handout &mdash; the Roadmap Gantt chart.&rdquo;</p><!-- /._bq-ct _bq-tx -->
          <footer class="_bq-ft"><cite class="_bq-ci">Regina Flanagan, Benefit Cosmetics</cite></footer><!-- /._bq-ft -->
        </blockquote><!-- /._bq pq -->
      </aside><!-- /.e-content fe-pl -->

    </div><!-- /._ct -->
  </article> <!-- /.fe -->





  <article class="h-entry fe">
    <div class="_ct">
      <header class="fe-hdr">
        <h2 class="fe-hd p-name">Align</h2>
        <p class="p-summary">Keep stakeholders, project leaders, and project contributors on the same project plan, without disrupting their daily workflows. Roadmap’s integrations into existing systems makes it easy to keep everyone on task.</p>
      </header>


      <aside class="e-content fe-cp pl">
        <article class="h-entry pt--ho">
          <div class="_md-att">

            <span class="_md-src" data-picture data-alt="Visualize your projects as gantt charts">
              <span data-src="/images/views/roadmap-view-align-extension-mobile.png"></span>
              <span data-src="/images/views/roadmap-view-align-extension-mobile@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></span>


              <span data-src="/images/views/roadmap-view-align-extension.png" data-media="(min-width: 47em)"></span>
              <span data-src="/images/views/roadmap-view-align-extension@2x.png" data-media="(min-width: 47em) and (min-device-pixel-ratio: 2.0)"></span>
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript>
                <img src="/images/views/roadmap-view-align-extension-mobile.png" alt="Visualize your projects as gantt charts"></noscript>
            </span>
          </div>
          <div class="_md-ct">
            <h3 class="p-name _md-hd">Chrome Extension</h3>
            <p class="p-summary _md-tx"><a href="https://ppmroadmap.uservoice.com/knowledgebase/articles/424144-browser-extension-overview">Enter and view vital project information in Basecamp</a>, and soon many more webapps, without interrupting your workflow. </p>
          </div>
        </article>


        <article class="h-entry pt">
          <div class="_md-att">
            <span class="_md-src" data-picture data-alt="Visualize your projects as gantt charts">
              <span data-src="/images/views/roadmap-view-align-email-mobile.png"></span>
              <span data-src="/images/views/roadmap-view-align-email-mobile@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></span>


              <span data-src="/images/views/roadmap-view-align-email.png" data-media="(min-width: 47em)"></span>
              <span data-src="/images/views/roadmap-view-align-email@2x.png" data-media="(min-width: 47em) and (min-device-pixel-ratio: 2.0)"></span>
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript>
                <img src="/images/views/roadmap-view-align-email-mobile.png" alt="Visualize your projects as gantt charts"></noscript>
            </span>
          </div>
          <div class="_md-ct">
            <h3 class="p-name _md-hd">Daily Agendas</h3>
            <p class="p-summary _md-tx">Give information to your team where they spend the most time. Daily emails highlight tasks requiring your attention.</p>
          </div>
        </article>


        <blockquote class="_bq pt--bq">
          <p class="_bq-ct _bq-tx">"Roadmap has blown me away with its comprehensive approach to project/portfolio management"</p><!-- /._bq-ct _bq-tx -->
          <footer class="_bq-ft"><cite class="_bq-ci">Sloan Miller, Director, Project Management, The Archer Group</cite></footer><!-- /._bq-ft -->
        </blockquote><!-- /._bq pq -->
      </aside><!-- /.e-content fe-pl -->

    </div><!-- /._ct -->
  </article> <!-- /.fe -->





  <article class="h-entry fe fe--alt">
    <div class="_ct">
      <header class="fe-hdr">
        <h2 class="fe-hd p-name">Forecast</h2>
        <p class="p-summary">Resource planning and project timelines are a snap with Roadmap. Save your projects before they start to slip. Roadmap makes you the hero.</p>
      </header>


      <aside class="e-content fe-cp pl">
        <article class="h-entry pt--ho">
                  <div class="_md-att">
                    <span class="_md-src" data-picture data-alt="Resource Utilization Charts let you Know who is being worked to hard, and who needs to pickup the slack">
                      <span data-src="/images/views/align-graph-tall@2x.png"></span>
                      <span data-src="/images/views/align-graph-tall@4x.png" data-media="(min-device-pixel-ratio: 2.0)"></span>
                      <span data-src="/images/views/align-graph-wide.png" data-media="(min-width: 47em)"></span>
                      <span data-src="/images/views/align-graph-wide@2x.png" data-media="(min-width: 47em) and (min-device-pixel-ratio: 2.0)"></span>
                      <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                      <noscript>
                        <img src="/images/views/align-graph-tall.png" alt="Resource Utilization Charts let you Know who is being worked to hard, and who needs to pickup the slack"></noscript>
                    </span>
                  </div>
                  <div class="_md-ct">
                    <h3 class="p-name _md-hd">Push your team to their fullest potential</h3>
                    <p class="p-summary _md-tx">Track the usage of a single resource or a group of roles across projects. Look into the future and know when you need to staff up before it&rsquo;s too late.</p>
                  </div>
                </article>


                <article class="h-entry pt">
                  <div class="_md-att">
                    <span class="_md-src" data-picture data-alt="Pick the right team member for the job">
                      <span data-src="/images/views/align-resources-tall.png"></span>
                      <span data-src="/images/views/align-resources-tall@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></span>
                      <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                      <noscript>
                        <img src="/images/views/align-resources-tall.png" alt="Pick the right team member for the job"></noscript>
                    </span>
                  </div>
                  <div class="_md-ct">
                    <h3 class="p-name _md-hd">Resource Attributes</h3>
                    <p class="p-summary _md-tx">Need to find resource who knows iOS, works in the New York office, and is at least 50% available next week?  Use Custom resource attributes and be a staffing wizard!</p>
                  </div>
                </article>


        <blockquote class="_bq pt--bq">
          <p class="_bq-ct _bq-tx">"Fills a much needed gap for managers who need resource and portfolio management."</p><!-- /._bq-ct _bq-tx -->
          <footer class="_bq-ft"><cite class="_bq-ci">Steven Whitney, Manager of Client Services, Awana</cite></footer><!-- /._bq-ft -->
        </blockquote><!-- /._bq pq -->
      </aside><!-- /.e-content fe-pl -->

    </div><!-- /._ct -->
  </article> <!-- /.fe -->





  <article class="h-entry fe">
    <div class="_ct">
      <header class="fe-hdr">
        <h2 class="fe-hd p-name">Manage</h2>
        <p class="p-summary">Adjust budgets, invoice time, compare actuals, and audit project changes.<br>Never lose track of the bottom line. </p>
      </header>


      <aside class="e-content fe-cp pl">
        <article class="h-entry pt--ho">
          <div class="_md-att">
            <span class="_md-src" data-picture data-alt="Visualize your projects as gantt charts">
              <span data-src="/images/views/roadmap-view-manage-budget-mobile.png"></span>
              <span data-src="/images/views/roadmap-view-manage-budget-mobile@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></span>
              <span data-src="/images/views/roadmap-view-manage-budget.png" data-media="(min-width: 47em)"></span>
              <span data-src="/images/views/roadmap-view-manage-budget@2x.png" data-media="(min-width: 47em) and (min-device-pixel-ratio: 2.0)"></span>
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript>
                <img src="/images/views/roadmap-view-manage-budget-mobile.png" alt="Visualize your projects as gantt charts"></noscript>
            </span>
          </div>
          <div class="_md-ct">
            <h3 class="p-name _md-hd">Flexible Project Budgets</h3>
            <p class="p-summary _md-tx">Calculate project budgets from task estimates, and make adjustments to meet stakeholder needs.</p>
          </div>
        </article>


        <article class="h-entry pt">
          <div class="_md-att">
            <span class="_md-src" data-picture data-alt="Visualize your projects as gantt charts">
              <span data-src="/images/views/roadmap-view-manage-effeciency.jpg"></span>
              <span data-src="/images/views/roadmap-view-manage-effeciency@2x.jpg" data-media="(min-device-pixel-ratio: 2.0)"></span>
              <span data-src="/images/views/roadmap-view-manage-effeciency.jpg" data-media="(min-width: 47em)"></span>
              <span data-src="/images/views/roadmap-view-manage-effeciency@2x.jpg" data-media="(min-width: 47em) and (min-device-pixel-ratio: 2.0)"></span>
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript>
                <img src="/images/views/roadmap-view-manage-effeciency.jpg" alt="Visualize your projects as gantt charts"></noscript>
            </span>
          </div>
          <div class="_md-ct">
            <h3 class="p-name _md-hd">Powerful Reporting</h3>
            <p class="p-summary _md-tx">Detailed reporting tools and change tracking gives insight into your project portfolio.</p>
          </div>
        </article>


        <blockquote class="_bq pt--bq">
          <p class="_bq-ct _bq-tx">"Fills a much needed gap for managers who need resource and portfolio management."</p><!-- /._bq-ct _bq-tx -->
          <footer class="_bq-ft"><cite class="_bq-ci">Steven Whitney, Manager of Client Services, Awana</cite></footer><!-- /._bq-ft -->
        </blockquote><!-- /._bq pq -->
      </aside><!-- /.e-content fe-pl -->

    </div><!-- /._ct -->
  </article> <!-- /.fe -->
</div> <!-- /.fl -->
