<div class="nw mh-nw">
  <div class="_ct">
    <div class="nw-wr">

      {% assign sorted = site.posts | sort: "date" | reverse %}

      {% for post in sorted limit:1 %}
      <ul class="_ls-ui nw-ct">
        <li class="h-entry nw-entry">
          <a href="{{ post.url }}" title="{{ post.title }}" class="u-url">
            <h3 class="p-name">
              {{ post.title }}
            </h3>
            <time class="dt-published" datetime="{{ post.date | date_to_rfc822 }}">
              {{ post.date | date: "%b %-d, %Y" }}
            </time>
          </a>
        </li>
      </ul>
      <div class="_co nw-co"><a href="{{ site.url }}/updates" title="Read More News &amp; Updates" class="_co-lk lk--mr">More Updates</a></div><!-- /._co nw-co -->
      {% endfor %}
    </div><!-- /.nw-wr -->
  </div> <!-- /._ct -->
</div><!-- /.nw nw-qk -->
