<footer class="ft st-ft">
  <div class="_ct">
    <div class="ft-lg">
      <p class="lg-cr">&copy; Copyright {{ site.time | date: '%Y' }} PPMLite, LLC. All rights reserved.</p>
      <nav class="_nv nv-lg"> <strong class="_nv-hd">Legal Navigation</strong>
        <ul class="_nav">
          <li>
            <a href="{{ site.url }}/terms-of-service">Terms of Service</a>
          </li>
          <li>
            <a href="{{ site.url }}/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>


    <nav class="_nv ft-ut"> <strong class="_nv-hd">Site Navigation</strong>
      <ul class="_nav">
        {% include _ut-nav-items.html %}
      </ul>
    </nav>
  </div><!-- /._ct -->
</footer><!-- /.site-footer -->
