$highlight:#5FC3AD;
$dark-grey:#4A4A4A;
$med-grey:#6D6E70;
$light-grey:#979797;

._lo-customers{
    font-family: helvetica;
    margin: 0px 300px;

    .pg{
        overflow: visible;
        &:before,
        &:after {
          content: " ";
          display: table;
        }
        &:after {
          clear:both;
        }
    }

  h1{
      color: $med-grey;
      text-align: center;
      font-size: 1.875em;
      font-weight: 500;
      margin-top: 2em;
      margin-bottom: 0em;
  }

  h2{
      color: $light-grey;
      text-align: center;
      font-size: 1.35em;
      font-weight: 500;
      margin: 50px 0 10px;
  }

  h3 {
      color: $highlight;
      font-size: 1.250em;
      font-weight: 400;
      margin-top: 10px;
      margin-bottom: 5px;
  }

  h4 {
      color: $med-grey;
      font-size: 1em;
      font-weight: 500;
      margin-top: 24px;
      margin-bottom: .5em;
  }

  h5 {
      color: $light-grey;
      font-size: .875em;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 5px;
  }

  h6 {
      color: $med-grey;
      text-align: center;
      font-size: .875em;
      font-weight: 200;
      margin-top: 10px;
      margin-bottom: -5px;
  }

  p {
      color: $dark-grey;
      font-size: .875em;
      font-weight: 200;
      line-height: 25px;
      margin: 0 0 1.5em 0;
  }

  hr {
    width: 100px;
    height: 2px;
    background-color: $highlight;
    color:$highlight;
    border: 0 none;
  }

  blockquote {
      border-top: 2px solid $light-grey;
      margin: 1.5em 2em 0em 1.5em;
      padding: 0em 10px;
      width: 115%;
      overflow: visible;

      h5 {
        &:before {
          content: '“';
          margin-left: -.35em;
        }
        &:after {
          content: '”';
        }
      }

      em {
        font-style: normal;
        color: $light-grey;
      }
  }

}
