$highlight: #5fc3ad;
$dark-grey: #4a4a4a;
$med-grey: #6d6e70;
$light-grey: #979797;


._lo-customers {
  margin: 0 300px;
  font-family: helvetica;
  .pg {
    overflow: visible;
    &:before,
    &:after {
      content: ' ';
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  h1 {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 1.875em;
    font-weight: 500;
    text-align: center;
    color: $med-grey;
  }
  h2 {
    margin: 50px 0 10px;
    font-size: 1.35em;
    font-weight: 500;
    text-align: center;
    color: $light-grey;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.250em;
    font-weight: 400;
    color: $highlight;
  }
  h4 {
    margin-top: 24px;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 500;
    color: $med-grey;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.875em;
    font-weight: 500;
    color: $light-grey;
  }
  h6 {
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 0.875em;
    font-weight: 200;
    text-align: center;
    color: $med-grey;
  }
  p {
    margin: 0 0 1.5em 0;
    font-size: 0.875em;
    font-weight: 200;
    line-height: 25px;
    color: $dark-grey;
  }
  hr {
    width: 100px;
    height: 2px;
    color: $highlight;
    border: 0 none;
    background-color: $highlight;
  }
  blockquote {
    overflow: visible;
    width: 115%;
    padding: 0 10px;
    margin: 1.5em 2em 0 1.5em;
    border-top: 2px solid $light-grey;
    h5 {
      &:before {
        content: '“';
        margin-left: -0.35em;
      }
      &:after {
        content: '”';
      }
    }
    em {
      font-style: normal;
      color: $light-grey;
    }
  }
}
