//
// @TODO: Add docs to mts-m-nav!
//
@mixin mts-m-navs {
  ._nv {
    ._nv-hd {
      @extend %u-vh;
    }
  }
}

//
// @TODO: Add docs to mts-m-nav!
//
@mixin mts-m-nav {
  ._nav {
    @extend %u-reset_list;
    @extend %u-vacuum;

    .lt-ie8 & {
      display: inline;
      zoom: 1;
    }

    &,
    > li {
      vertical-align: top;
    }

    > li {
      display: inline-block;
      .lt-ie8 & {
        display: inline;
        zoom: 1;
      }
    }

    a {
      display: block;
      font-size: $fs;
      line-height: $f-lead;
      text-decoration: none;
    }
  }
}


//
// @TODO: Add docs to mts-m-nav--stack!
//
@mixin mts-m-nav--stack {
  ._nav--stack {
    > li {
      width: 100%;

      &,
      > a {
        &,
        .lt-ie8 & {
          display: block;
          zoom: 1;
        }
      }
    }
  }
}


//
// @TODO: Add docs to mts-m-nav--dropdown!
//
@mixin mts-m-nav--dropdown {
  ._nav--dropdown {

  }
}


//
// @TODO: Add docs to mts-m-nav--grid!
//
@mixin mts-m-nav--grid {

}
