<!doctype html>
<html class=bg-white-l>
  {% include head.html %}

  <body class="bg-white">
    {% include gtm.html %}
    {% include header.html %}

    <main class="mx-auto container py4 px2">
      {{ content }}
    </main>

    {% if page.url contains "news" or page.url contains "2014" or page.url contains "2015" or page.url contains "2016" or page.url contains "2017"%}
      {% include mailchimp.html %}
    {% else %}
      {% include trial.html %}
    {% endif %}

    {% include footer.html %}

  </body>

</html>
