---
layout: markdown
---

<article>
  <header class="header">
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="body">
    {{ content }}
  </section>
</article>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../libs/jquery.fitvids.js"></script>
<script>
  $(document).ready(function() {
    $(".video-wrapper").fitVids();
  });
</script>
