@charset "UTF-8";
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

video, embed, object, img, picture { max-width: 100%; height: auto; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; }
.lt-ie9 audio, .lt-ie9 canvas, .lt-ie9 progress, .lt-ie9 video { zoom: 1; }

.lt-ie9 audio, .lt-ie9 canvas, .lt-ie9 progress, .lt-ie9 video, .u-pullRight { display: inline; }

[hidden], template { display: none; }

._nav, body { margin: 0; padding: 0; }

._nav { list-style: none; }

._nav { font-size: 0px; line-height: 1; }

.u-pullLeft { float: left; }

.u-pullRight { float: right; }

.visuallyhidden, ._nv ._nv-hd { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.-focus.visuallyhidden:active, ._nv .-focus._nv-hd:active, .-focus.visuallyhidden:focus, ._nv .-focus._nv-hd:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.clearfix:before, .pl:before, .clearfix:after, .pl:after { content: " "; /* 1 */ display: table; /* 2 */ }
.clearfix:after, .pl:after { clear: both; }

._navDrawer-toggle { display: none; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/* HTML5 Boilerplate  What follows is the result of much research on cross-browser styling. Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team. */
/* ========================================================================== Base styles: opinionated defaults ========================================================================== */
html, button, input, select, textarea { color: #222; }

body { font-size: 1em; line-height: 1.4; }

a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/* ========================================================================== Author's custom styles ========================================================================== */
/* ========================================================================== Helper classes ========================================================================== */
/* Prevent callout */
.nocallout { -webkit-touch-callout: none; }

.pressed { background-color: rgba(0, 0, 0, 0.7); }

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] { -webkit-appearance: none; }

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden { position: absolute; left: -100%; }

/* Image replacement */
.ir { background-color: transparent; background-repeat: no-repeat; border: 0; direction: ltr; display: block; overflow: hidden; text-align: left; text-indent: -999em; }

.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/** Clearfix helper Used to contain floats: h5bp.com/q */
.clearfix::before, .clearfix::after { content: ""; display: table; }

.clearfix::after { clear: both; }

/* ========================================================================== EXAMPLE Media Queries for Responsive Design. Theses examples override the primary ('mobile first') styles. Modify as content requires. ========================================================================== */
@media only screen and (min-width: 800px) { /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { /* Style adjustments for viewports that meet the condition */ }
.lt-ie8 ._nav { display: inline; zoom: 1; }
._nav, ._nav > li { vertical-align: top; }
._nav > li { display: inline-block; }
.lt-ie8 ._nav > li { display: inline; zoom: 1; }
._nav a { display: block; font-size: 16px; line-height: 1.5; text-decoration: none; }

html, button, input, select, textarea, .pure-g [class*='pure-u'] { /* Set your content font stack here: */ font-family: Avenir, Helvetica, Arial, sans-serif; }

html, body { height: 100%; }

h1, h2, h3, h4 { text-rendering: optimizeLegibility; }

h1 { margin-top: 0; }

a:link, a:active, a:visited { color: #26aad4; }
a:hover, a:focus { color: #f16469; }

.st-wp { min-height: 100%; }

._br { padding: 0; margin: 0; line-height: 1; }

._br-lk { display: block; text-decoration: none; }

._bq-tx:before, ._bq-tx:after { display: inline-block; font-family: georgia, serif; }
._bq-tx:before { content: '“'; margin-left: -.55em; }
._bq-tx:after { content: '”'; }

._btn { padding: 6px; font-weight: bold; color: #363226; border: none; background-color: #878787; }

._btn--lg { padding: 12px; }

._btn--uno { color: #363226; background-color: #fbc351; }
._btn--uno:hover, ._btn--uno:focus { color: #fbc351; background-color: #363226; }

._co { display: block; }

._co-lk { display: inline-block; padding: 12px; font-weight: bold; text-decoration: none; }

.lk--mr { padding: 0; }
.lk--mr:after { content: '\00a0\203A'; }

._ct { position: relative; max-width: 80%; margin: 0 auto; }
@media (min-width: 47em) { ._ct { max-width: 76em; margin-left: auto; margin-right: auto; overflow: hidden; padding: 0 24px; }
  ._ct:after { content: " "; display: block; clear: both; } }
.lt-ie9 ._ct { max-width: 76em; margin-left: auto; margin-right: auto; overflow: hidden; padding: 0 24px; }
.lt-ie9 ._ct:after { content: " "; display: block; clear: both; }

._col-grp { overflow: hidden; }

@media (min-width: 40em) { ._col-md-2 ._col { width: 49%; float: left; margin-right: 1.96078%; margin-right: 0; } }
@media (min-width: 40em) { ._col-md-2 ._col:last-child { float: right; } }

._pnl, ._pnl-hdr, ._pnl-cnt { padding: 18px 24px 24px; }

._pnl { padding-bottom: 48px; background-color: #e6e5da; }

._pnl.hs-chld { padding: 0; }
._pnl.hs-chld ._pnl-cnt { padding-bottom: 48px; }

._pnl-hdr { padding-bottom: 12px; background-color: #d1d0bc; }

._lb--st label { display: block; }

._fm-fs { overflow: hidden; margin-bottom: 24px; }
._fm-fs > :last-child { margin-bottom: 0; }

._fd { margin-bottom: 12px; }
._fd label { font-weight: bold; font-size: 14px; }
._fd input, ._fd select, ._fd textarea { display: block; width: 100%; max-width: 100%; padding: 4px 6px; line-height: 1; }
._fd input:focus, ._fd textarea:focus { outline-color: #969696; }
._fd input[type='checkbox'], ._fd input[type='radio'] { display: inline-block; width: inherit; }

.error-textbox { border: 1px solid #911; }
.error-textbox:focus { outline: none; }

._ls-ui { padding-left: 0; margin-left: 0; list-style: none; }

._ls-bl { padding-left: 0; margin-left: 0; list-style: none; }
._ls-bl > li { padding-top: 12px; padding-right: 12px; padding-left: 12px; margin-bottom: 12px; border-top: 1px solid #878787; }

.mh-br { margin: 0 auto 30px; }
@media (min-width: 47em) { .mh-br { float: left; position: relative; left: 50%; margin-bottom: 0; margin-left: -98.5px; } }
.lt-ie9 .mh-br { float: left; position: relative; left: 50%; margin-bottom: 0; margin-left: -98.5px; }
.mh-br, .mh-br ._br-lk { width: 197px; height: 51px; }
.mh-br ._br-lk { background: url(../images/roadmap-logo.svg) center center no-repeat; }

.mh-bn { padding: 24px 0; border-bottom: 6px solid #e6e5da; background-color: #fff; }

.mh-ut { text-align: center; }
@media (min-width: 47em) { .mh-ut { width: 36.27451%; float: right; margin-right: 0; padding-top: 12px; text-align: right; } }
.lt-ie9 .mh-ut { width: 36.27451%; float: right; margin-right: 0; padding-top: 12px; text-align: right; }
.mh-ut ._nav-alt a:link, .mh-ut ._nav-alt a:active, .mh-ut ._nav-alt a:visited { color: #969696; }
.mh-ut ._nav-alt a:hover, .mh-ut ._nav-alt a:focus { color: #363226; background-color: #eaad4b; }
.mh-ut li { margin-left: 1.96078%; }
.mh-ut a { padding: .25em .5em; border-radius: 4px; }
@media (min-width: 47em) { .mh-ut a { font-size: 14px; } }
.lt-ie9 .mh-ut a { font-size: 14px; }
.mh-ut a:link, .mh-ut a:active, .mh-ut a:visited { color: #363226; background-color: transparent; }
.mh-ut a:hover, .mh-ut a:focus { color: #fff; background-color: #26aad4; }
.mh-ut .-is-active a, .mh-ut .-is-active a:hover, .mh-ut .-is-active a:focus { color: #fff; background-color: #26aad4; cursor: default; }

#mh-ut-su, #mh-ut-si { display: none; }
@media (min-width: 40em) { #mh-ut-su, #mh-ut-si { display: inline-block; } }

.st-m.-has-ho { position: relative; height: auto; }
@media (min-width: 47em) { .st-m.-has-ho { position: relative; height: 60%; min-height: 38em; } }
.lt-ie9 .st-m.-has-ho { position: relative; height: 60%; min-height: 38em; }
@media (min-width: 47em) { .st-m.-has-ho.-int { position: relative; height: auto; min-height: auto; } }
.lt-ie9 .st-m.-has-ho.-int { position: relative; height: auto; min-height: auto; }
.st-m.-has-ho .mh-bn, .st-m.-has-ho ._ho-tx { position: relative; z-index: 3; }
.st-m.-has-ho .mh-bn { height: 175px; }
@media (min-width: 40em) { .st-m.-has-ho .mh-bn { height: auto; } }

.mh-ho { position: relative; overflow: hidden; padding-top: 1px; background: url("../images/hero-gantt.jpg") center top no-repeat; }
@media (min-width: 47em) { .mh-ho { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; padding-top: 0; background-size: cover; } }
.lt-ie9 .mh-ho { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; padding-top: 0; background-size: cover; }
.mh-ho.-int { position: static; border-bottom: 6px solid #e6e5da; background: #e6e5da; }
.mh-ho ._ho-tx { margin-bottom: 24px; }
@media (min-width: 47em) { .mh-ho ._ho-tx { position: relative; top: 25%; width: 74.5098%; margin: 0 auto; } }
.lt-ie9 .mh-ho ._ho-tx { position: relative; top: 25%; width: 74.5098%; margin: 0 auto; }
.mh-ho ._ho-hd { margin-bottom: 0; font-size: 21.92px; }
@media (min-width: 40em) { .mh-ho ._ho-hd { font-size: 34.4px; } }
.mh-ho ._ho-cp { display: none; margin-bottom: 24px; font-size: 17.568px; }
@media (min-width: 40em) { .mh-ho ._ho-cp { display: block; } }
.mh-ho ._ho-cp p { margin: 0; }
.mh-ho ._co-lk { font-size: 12px; color: #363226; background-color: #f16469; }
@media (min-width: 40em) { .mh-ho ._co-lk { font-size: 16px; } }
.mh-ho ._co-lk:hover, .mh-ho ._co-lk:focus { color: #e9e9e9; background-color: #26aad4; }
@media (min-width: 47em) { .mh-ho ._ho-att { position: absolute; bottom: -3em; left: 0; z-index: 1; width: 100%; } }
.lt-ie9 .mh-ho ._ho-att { position: absolute; bottom: -3em; left: 0; z-index: 1; width: 100%; }
.mh-ho ._ho-src, .mh-ho ._ho-src img { display: block; margin: 0 auto; }

.mh-ho-att.-int { display: block; max-width: 74.5%; margin: 0 auto; }

.mh-nw { display: none; }
@media (min-width: 47em) { .mh-nw { display: block; position: absolute; bottom: 0; left: 0; z-index: 3; width: 100%; } }
.lt-ie9 .mh-nw { display: block; position: absolute; bottom: 0; left: 0; z-index: 3; width: 100%; }
.mh-nw .nw-wr { overflow: hidden; padding: 12px 0; border-top: 1px solid #878787; background-color: #fff; }
@media (min-width: 47em) { .mh-nw .nw-ct { width: 80.88235%; float: left; margin-right: 1.96078%; margin: 0; } }
.lt-ie9 .mh-nw .nw-ct { width: 80.88235%; float: left; margin-right: 1.96078%; margin: 0; }
.mh-nw .u-url { text-decoration: none; color: #363226; }
.mh-nw .u-url:hover, .mh-nw .u-url:focus { color: #26aad4; }
.mh-nw .u-url:hover .dt-published, .mh-nw .u-url:focus .dt-published { color: #363226; }
.mh-nw .p-name, .mh-nw .dt-published, .mh-nw ._co-lk { line-height: 24px; }
.mh-nw .nw-entry { line-height: 24px; }
.mh-nw .nw-entry .p-name { margin: 0; font-size: 16px; }
@media (min-width: 47em) { .mh-nw .nw-entry .p-name { width: 84.24242%; float: right; margin-right: 0; padding-right: 7.87879%; } }
.lt-ie9 .mh-nw .nw-entry .p-name { width: 84.24242%; float: right; margin-right: 0; padding-right: 7.87879%; }
.mh-nw .dt-published { font-size: 12px; }
@media (min-width: 47em) { .mh-nw .dt-published { width: 13.33333%; float: left; margin-right: 2.42424%; margin-right: 0; line-height: 26px; } }
.lt-ie9 .mh-nw .dt-published { width: 13.33333%; float: left; margin-right: 2.42424%; margin-right: 0; line-height: 26px; }
@media (min-width: 47em) { .mh-nw .nw-co { width: 17.15686%; float: right; margin-right: 0; text-align: right; } }
.lt-ie9 .mh-nw .nw-co { width: 17.15686%; float: right; margin-right: 0; text-align: right; }
.mh-nw .lk--mr { color: #969696; }
.mh-nw .lk--mr:hover, .mh-nw .lk--mr:active { color: #26aad4; }

.nw-ct--list .u-url { text-decoration: none; color: #363226; }
.nw-ct--list .u-url:hover, .nw-ct--list .u-url:focus { color: #26aad4; }
.nw-ct--list .u-url:hover .dt-published, .nw-ct--list .u-url:focus .dt-published { color: #363226; }
.nw-ct--list .p-name, .nw-ct--list .dt-published, .nw-ct--list ._co-lk { line-height: 24px; }
.nw-ct--list .nw-entry { line-height: 24px; }
.nw-ct--list .nw-entry + .nw-entry { padding-top: 12px; margin-top: 12px; border-top: 1px solid #878787; }
.nw-ct--list .nw-entry .p-name { margin: 0; font-size: 16px; }
@media (min-width: 47em) { .nw-ct--list .nw-entry .p-name { width: 80.88235%; float: right; margin-right: 0; padding-right: 7.87879%; } }
.lt-ie9 .nw-ct--list .nw-entry .p-name { width: 80.88235%; float: right; margin-right: 0; padding-right: 7.87879%; }
.nw-ct--list .dt-published { font-size: 12px; }
@media (min-width: 47em) { .nw-ct--list .dt-published { width: 10.78431%; float: left; margin-right: 1.96078%; margin-right: 0; line-height: 26px; } }
.lt-ie9 .nw-ct--list .dt-published { width: 10.78431%; float: left; margin-right: 1.96078%; margin-right: 0; line-height: 26px; }

.fl .fe { padding-top: 24px; padding-bottom: 24px; }
@media (min-width: 47em) { .fl .fe { padding-top: 48px; padding-bottom: 48px; } }
.lt-ie9 .fl .fe { padding-top: 48px; padding-bottom: 48px; }
.fl .fe ._md-att, .fl .fe .pt--bq { border-color: #e9e9e9; }
.fl .fe .lk--su:link, .fl .fe .lk--su:active, .fl .fe .lk--su:visited { color: #fff; background-color: #f16469; }
.fl .fe .lk--su:hover, .fl .fe .lk--su:focus { color: #fff; background-color: #26aad4; }
.fl .fe .lk--su-alt:link, .fl .fe .lk--su-alt:active, .fl .fe .lk--su-alt:visited { color: #26aad4; background-color: #fff; }
.fl .fe .lk--su-alt:hover, .fl .fe .lk--su-alt:focus { color: #fff; background-color: #f16469; }
.fl .fe--alt { background-color: #e9e9e9; }
.fl .fe--alt ._md-att, .fl .fe--alt .pt--bq { border-color: #fff; }
.fl .fe--alt .lk--su:link, .fl .fe--alt .lk--su:active, .fl .fe--alt .lk--su:visited { color: #fff; background-color: #26aad4; }
.fl .fe--alt .lk--su:hover, .fl .fe--alt .lk--su:focus { color: #363226; background-color: #fbc351; }
.fl .fe-int { background-color: #a4ddef; }

@media (min-width: 47em) { .fe-hdr { width: 74.5098%; margin-right: auto; margin-left: auto; } }
.lt-ie9 .fe-hdr { width: 74.5098%; margin-right: auto; margin-left: auto; }
.fe-hdr .p-summary { font-size: 21.92px; }

.fe-hdr { margin-bottom: 48px; }

.fe-hd { margin: 0; max-width: 75%; font-size: 34.4px; }

.fe-hd, .fe-cp { margin: 0; }

@media (min-width: 47em) { .fe-cp { width: 74.5098%; margin-right: auto; margin-left: auto; } }
.lt-ie9 .fe-cp { width: 74.5098%; margin-right: auto; margin-left: auto; }

.pl ._md-att, .pl ._md-tx { margin: 0 0 6px; }
.pl ._md-att { position: relative; border: 9px solid; }
.pl ._md-src { display: block; width: 100%; }
.pl ._md-ct > :last-child { margin-bottom: 0; }
.pl ._md-hd { margin: 0; }

.pt { margin-bottom: 24px; }
@media (min-width: 47em) { .pt { width: 31.57895%; float: right; margin-right: 0; margin-bottom: 0; } }
.lt-ie9 .pt { width: 31.57895%; float: right; margin-right: 0; margin-bottom: 0; }
.pt .p-name { font-size: 17.568px; line-height: 24px; }
.pt .p-summary { font-size: 14px; }
.pt ._md-att { position: relative; height: 0; overflow: hidden; padding-top: 120%; }
.pt ._md-att img { position: absolute; top: 0; left: 0; width: 100%; height: auto; }

.pt--ho { margin-bottom: 24px; }
@media (min-width: 47em) { .pt--ho { width: 65.78947%; float: left; margin-right: 2.63158%; margin-bottom: 0; } }
.lt-ie9 .pt--ho { width: 65.78947%; float: left; margin-right: 2.63158%; margin-bottom: 0; }
.pt--ho ._md-att { position: relative; height: 0; overflow: hidden; padding-top: 120%; }
@media (min-width: 47em) { .pt--ho ._md-att { padding-top: 57.59162%; } }
.lt-ie9 .pt--ho ._md-att { padding-top: 57.59162%; }
.pt--ho ._md-att img { position: absolute; top: 0; left: 0; width: 100%; height: auto; }

.pt--bq { padding-top: 12px; margin: 0 0 12px; font-size: 21.92px; border-top: 6px solid #fff; }
@media (min-width: 47em) { .pt--bq { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; margin: 48px 0 0; } }
.lt-ie9 .pt--bq { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; margin: 48px 0 0; }
.pt--bq p { margin: 0; }
.pt--bq ._bq-ci { font-size: 14px; }

.bq-na { margin: 0 !important; }

@media (min-width: 47em) { .fe-ft { width: 74.5098%; margin: 24px auto 0; } }
.lt-ie9 .fe-ft { width: 74.5098%; margin: 24px auto 0; }
.fe-ft .lk--su { color: #363226; background-color: #eaad4b; }

@media screen and (min-width: 40em) { html { height: 100%; }
  .st { height: 100%; }
  .st > .st-wp { min-height: 100%; }
  .st .st-c { overflow: visible; padding-bottom: 144px; }
  .st .st-ft { position: relative; height: 96px; margin-top: -96px; } }
.st-ft { padding: 24px 0; color: #f5f5f5; background-color: #363226; }
.st-ft a { font-size: 12px; }
.st-ft a:link, .st-ft a:active, .st-ft a:visited { color: #f5f5f5; }
.st-ft a:hover, .st-ft a:focus { color: #fbc351; }
@media (min-width: 47em) { .st-ft .ft-lg { width: 36.27451%; float: left; margin-right: 1.96078%; margin-left: 12.7451%; } }
.lt-ie9 .st-ft .ft-lg { width: 36.27451%; float: left; margin-right: 1.96078%; margin-left: 12.7451%; }
.st-ft .lg-cr { margin: 0 0 12px; font-size: 12px; }
.st-ft .nv-lg li { margin-left: 1.96078%; }
.st-ft .nv-lg li:first-child { margin-left: 0; }
@media (min-width: 47em) { .st-ft .ft-ut { width: 36.27451%; float: right; margin-right: 0; margin-right: 12.7451%; text-align: right; } }
.lt-ie9 .st-ft .ft-ut { width: 36.27451%; float: right; margin-right: 0; margin-right: 12.7451%; text-align: right; }
.st-ft .ft-ut li { margin-left: 1.96078%; }

.st-nbp { padding-bottom: 96px !important; }

._lo-int { background: url(../images/bg-gridline.png) left top repeat; }
._lo-int .pg { padding-left: 6.37255%; padding-right: 6.37255%; overflow: hidden; padding-top: 48px; padding-bottom: 48px; }
@media (min-width: 47em) { ._lo-int .pg { padding-left: 6.37255%; padding-right: 6.37255%; width: 74.5098%; margin: 0 auto; } }
.lt-ie9 ._lo-int .pg { padding-left: 6.37255%; padding-right: 6.37255%; width: 74.5098%; margin: 0 auto; }

@media (min-width: 47em) { ._lo-p .entry-attach { width: 30.97345%; float: left; margin-right: 3.53982%; } }
.lt-ie9 ._lo-p .entry-attach { width: 30.97345%; float: left; margin-right: 3.53982%; }

._lo-su .pg { width: 100%; padding-right: 0; padding-left: 0; }
@media (min-width: 47em) { ._lo-su .pg { width: 36.27451%; padding: 0; margin: 0 auto; } }
.lt-ie9 ._lo-su .pg { width: 36.27451%; padding: 0; margin: 0 auto; }
._lo-su .pg-hdr { text-align: center; }

/*doc
---
title: Pricing Plan Table
category: Components - Pricing Table
---

```html_example
<div class="plans slat-list"> <div class="slat plan -basic" id="plan-basic"> <a class="plan-link" href="#plan-basic"> <header class="plan-header"> <h2 class="plan-heading">Basic</h2> <p class="plan-price">$25/mo or $250/yr</p> <p class="plan-teaser">Priced affordably for small teams</p> </header> <div class="plan-content"> <ul class="plan-features"> <li> <strong>25</strong> projects </li> <li>Unlimited Resources &amp; Users</li> <li>Resource Forecasting</li> </ul> </div> <footer class="plan-footer"> <span class="_co-lk lk--su">Start Trial</span> </footer> </a> </div>
</div>
``` */
.plan { transition: all .3s ease-in-out; border: 1px solid #616148; }
.plan:hover, .plan:focus { transition-duration: 150ms; box-shadow: inset 0 0 0 3px #f2a221; }
.plan:hover .lk--su, .plan:focus .lk--su { color: #fff; background-color: #26aad4; }
.plan .lk--su { color: #363226; background-color: #f2a221; }

.plan-link { display: block; width: 100%; height: 100%; text-decoration: none; }
.plan-link:link, .plan-link:visited, .plan-link:active { color: #363226; }
.plan-link:hover, .plan-link:focus { color: #363226; }

.plan-cell { font-size: 14px; }

.plan-price { font-size: 11px; }

.plan header { background-color: #c4c4b1; font-weight: bold; }

.plan header, .plan-cell, .plan footer { padding: 5px; text-align: center; white-space: nowrap; }

.plan:first-child .plan-cell { text-align: left; }

.plan-cell:nth-child(even), .plan footer { background-color: #f0f0eb; }

.plan-cell:nth-child(odd) { background-color: white; }

.plan-contact-us { display: inline-block; font-weight: bold; padding: 12px 0; }

.plan-heading { margin: 0; }

.plan-pricing { color: #f2a221; }

@media (min-width: 47em) { .plan-content { margin-bottom: 24px; } }
.lt-ie9 .plan-content { margin-bottom: 24px; }

.plan-features { padding: 0; margin: 0; list-style: none; }
.plan-features li { padding-top: 6px; border-top: 1px solid; }

.plans { margin-bottom: 24px; }
@media (min-width: 47em) { .plans { display: table; width: 100%; border-collapse: collapse; } }
.lt-ie9 .plans { display: table; width: 100%; border-collapse: collapse; }
@media (min-width: 47em) { .plans .plan { position: relative; display: table-cell; height: 100%; } }
.lt-ie9 .plans .plan { position: relative; display: table-cell; height: 100%; }
.plans .plan-link { padding: 12px 12px 48px; }
@media (min-width: 47em) { .plans .plan-footer { position: absolute; bottom: 12px; left: 12px; } }
.lt-ie9 .plans .plan-footer { position: absolute; bottom: 12px; left: 12px; }

@media (min-width: 47em) { .plans.-additional { display: block; } }
.lt-ie9 .plans.-additional { display: block; }
.plans.-additional .plan { padding: 12px; }
.plans.-additional .plan:hover, .plans.-additional .plan:focus { box-shadow: none; }
@media (min-width: 47em) { .plans.-additional .plan.-enterprise { float: left; width: 66%; } }
.lt-ie9 .plans.-additional .plan.-enterprise { float: left; width: 66%; }
.plans.-additional .plan.-npo { background-color: rgba(251, 195, 81, 0.5); }
@media (min-width: 47em) { .plans.-additional .plan.-npo { float: right; width: 33%; } }
.lt-ie9 .plans.-additional .plan.-npo { float: right; width: 33%; }

.ibutton-container, .ibutton-handle, .ibutton-label-off, .ibutton-label-on, .ibutton-padding-left, .ibutton-padding-right { box-sizing: content-box !important; }

#header { font-size: 16px !important; }

/*doc
---
title: Message Styles
category: Modules - Messaging
---
```html_example
<div class="message"> <p>Alert content to go here</p>
</div>

<div class="message message--info"> <div id="divPageNotFound" runat="server" visible="false"> <p> Sorry, we can't find the page you're trying to view. <span style="font-size:large">&#9785;</span> </p> </div>
</div><!-- /message message--info -->

<div class="message message--warning"> <div id="divPageNotFound" runat="server" visible="false"> <p> Sorry, we can't find the page you're trying to view. <span style="font-size:large">&#9785;</span> </p> </div>
</div><!-- /message message--warning -->

<div class="message message--alert"> <div id="divPageNotFound" runat="server" visible="false"> <p> Sorry, we can't find the page you're trying to view. <span style="font-size:large">&#9785;</span> </p> </div>
</div><!-- /message message--alert -->
``` */
.message { margin: 24px 0; padding: 6px 24px; font-weight: 700; border-radius: 6px; border: 1px solid #878787; background-color: #f7f7f5; }

.message--no-radius { border-radius: 0; }

.message--info { border-color: #26aad4; background-color: #93d5ea; }

.message--warning { border-color: #fbc351; background-color: #eaad4b; }

.message--alert { color: #fff; border-color: #911; background-color: #f16469; }

/*doc
---
title: Periodical Listing
category: Modules - Listing
---
```html_example
<li class="h-entry nw-entry"> <a href="#" title="" class="u-url"> <div class="entry-body"> <div class="entry-header"> <h3 class="p-name"> Lorem ipsum dolor sit amet </h3> <time class="dt-published" datetime="{{ post.date | date_to_rfc822 }}"> Mar 7, 2015 </time> </div> <div class="entry-content"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia explicabo error perspiciatis qui illum consequuntur officiis sed. Tempora commodi perferendis sequi earum, blanditiis iste quia cupiditate facere sapiente velit autem!</p> </div> </div> </a>
</li>
``` */
.nw-entry { overflow: hidden; }
@media (min-width: 47em) { .nw-entry .entry-attach { float: left; margin-top: 0; margin-bottom: 0; margin-left: 0; } }
.lt-ie9 .nw-entry .entry-attach { float: left; margin-top: 0; margin-bottom: 0; margin-left: 0; }
.nw-entry .entry-body { overflow: hidden; }
.nw-entry .entry-content p { margin: 0; font-size: 14px; }
.nw-entry .p-name { margin: 0 0 6px; font-size: 16px; }
.nw-entry .dt-published { font-size: 11px; }
.nw-entry .u-url { text-decoration: none; color: #363226; }
.nw-entry .u-url:hover, .nw-entry .u-url:focus { color: #26aad4; }
.nw-entry .u-url:hover .dt-published, .nw-entry .u-url:focus .dt-published { color: #363226; }

.c-periodical-list .dt-published, .c-periodical-list .p-name { line-height: 1; }

.pagination { padding: 12px; border-top: 1px solid #878787; background-color: #e9e9e9; }

.pagination-current { font-weight: bold; font-style: normal; }

.pagination-link { text-decoration: none; color: #26aad4; }
.pagination-link:hover, .pagination-link:focus { color: #f16469; }
.pagination-link span { display: none; }

.pagination-page + .pagination-page { margin-left: 12px; }

.h-entry.pg { max-width: 60em; margin-left: auto; margin-right: auto; }
.h-entry.pg .post-meta { margin: 0; }
.h-entry.pg .post-title { margin: 0; }
.h-entry.pg .post-hero { margin: 0; }
.h-entry.pg .post-content { margin-top: 24px; }

.post-content img, .post-content video, .post-content iframe { max-width: 100%; }

.c-email-signup { background-color: #f7f7f5; }
.c-email-signup #mc_embed_signup { background-color: transparent; }
.c-email-signup #mc_embed_signup #mce-responses { width: 96%; margin-right: 0; margin-bottom: 20px; margin-left: 0; padding: 0; }
.c-email-signup #mc_embed_signup .response { width: 100%; padding: 10px 20px; margin: 0; border: 2px solid; border-radius: 4px; }
.c-email-signup #mc_embed_signup #mc-embedded-subscribe.button { transition: all .3s ease-out; background-color: #26aad4; }
.c-email-signup #mc_embed_signup #mc-embedded-subscribe.button:hover, .c-email-signup #mc_embed_signup #mc-embedded-subscribe.button:focus { background-color: #16657e; }

.smcx-embed { width: 100% !important; border: 0 !important; background: transparent !important; }

.integration-list { display: block; width: 100%; }
@media (min-width: 40em) { .integration-list { text-align: justify; } }
@media (min-width: 40em) { .integration-list:after { content: ''; display: inline-block; width: 100%; } }

@media (min-width: 40em) { .integration-list__item { display: inline-block; width: 26%; } }

.integration-list__link { display: block; height: 0; padding-top: 100%; overflow: hidden; border-radius: 100%; background-color: #fff; background-position: center center; background-repeat: no-repeat; background-size: 50%; transition: all .3s ease-out; }
.integration-list__link:before { content: ''; display: block; width: 1px; height: 150%; }
.integration-list__link:link, .integration-list__link:active, .integration-list__link:visited { border: 0; }
.integration-list__link:hover, .integration-list__link:focus { transition-duration: .15s; background-size: 55%; background-color: #26aad4; }

.integration-list__link--basecamp { background-image: url(../images/integrations-logos-basecamp.svg); }
.no-svg .integration-list__link--basecamp { background-image: url(../images/integrations-logos-basecamp.png); }

.integration-list__link--github { background-image: url(../images/integrations-logos-github.svg); }
.no-svg .integration-list__link--github { background-image: url(../images/integrations-logos-github.png); }

.integration-list__link--jira { background-image: url(../images/integrations-logos-jira.svg); }
.no-svg .integration-list__link--jira { background-image: url(../images/integrations-logos-jira.png); }

._lo-customers { margin: 0 300px; font-family: helvetica; }
._lo-customers .pg { overflow: visible; }
._lo-customers .pg:before, ._lo-customers .pg:after { content: ' '; display: table; }
._lo-customers .pg:after { clear: both; }
._lo-customers h1 { margin-top: 1.875em; margin-bottom: 0; font-size: 1.875em; font-weight: 500; text-align: center; color: #6d6e70; }
._lo-customers h2 { margin: 45px 0 10px; font-size: 1.35em; font-weight: 500; text-align: center; color: #979797; }
._lo-customers h3 { margin-top: 10px; margin-bottom: 5px; font-size: 1.250em; font-weight: 400; color: #5fc3ad; }
._lo-customers h4 { margin-top: 24px; margin-bottom: 0.5em; font-size: 1em; font-weight: 500; color: #6d6e70; }
._lo-customers h5 { margin-top: 0; margin-bottom: 5px; font-size: 0.875em; font-weight: 500; color: #979797; }
._lo-customers h6 { margin-top: 15px; margin-bottom: 5px; font-size: 0.875em; font-weight: 200; text-align: center; color: #6d6e70; }
._lo-customers p { margin: 0 0 1.5em 0; font-size: 0.875em; font-weight: 200; line-height: 24px; color: #4a4a4a; }
._lo-customers hr { width: 100px; height: 2px; color: #5fc3ad; border: 0 none; background-color: #5fc3ad; }
._lo-customers blockquote { overflow: visible; width: 115%; padding: 0 10px; margin: 1.5em 2em 0 1.5em; border-top: 2px solid #979797; }
._lo-customers blockquote h5:before { content: '“'; margin-left: -0.35em; }
._lo-customers blockquote h5:after { content: '”'; }
._lo-customers blockquote em { font-style: normal; color: #979797; }
