// &zindex
$z-base: 1;
$z-image: 2;
$z-content: 3;
$z-nav: 4;
$z-modal: 100;


// &Media Queries
$m-s: 30em !default; // 480
$m-s_m: max-width 47.9375em !default;
$m-m: 48em, 'no-query' '.lt-ie9' !default; //768
$m-m_l: max-width 61.0625em !default;
$m-l: 61.125em, 'no-query' '.lt-ie9' !default; // 960


// Type Sizes
$f-size: 100% !default;
$fs: $f-size !default;
$fs-milli : $fs * .625 !default;
$fs-centi : $fs * 0.6875 !default;
$fs-deci  : $fs * 0.875 !default;
$fs-deca  : $fs * 1.266 !default;
$fs-hecto : $fs * 1.481 !default;
$fs-kilo  : $fs * 1.898 !default;
$fs-mega  : $fs * 2.222 !default;
$fs-giga  : $fs * 2.848 !default;
$fs-tera  : $fs * 3.333 !default;

$fs-alpha : $fs * 5 !default;
$fs-beta  : $fs * 4.272 !default;
$fs-gamma : $fs * 4.272 !default;

$f-lead: 1.5 !default;
